@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

$bg-color: #415daf;

.header {
  height: 250px;
  @include margin-bottom(2);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__map {
    font-style: italic;
    position: absolute;
    background-color: $bg-color;
    top: 0;
    bottom: 0;
    width: 100vw;
  }

  &__title {
    font-size: $typographic-base-font-size * 3;
    max-width: $layout-post-width;
    // margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    color: #fff;
    // text-align: center;
    @include line-height(2);
    @include margin-top(1);
    @include margin-bottom(0);
    z-index: 1;
    text-shadow: 2px 1px 18px rgba(0, 0, 0, 0.36);

    &-container {
      height: 100%;
      width: 50%;
      background-color: $bg-color;
    }
  }

  &__meta {
    z-index: 1;
  }

  &__default-bg {
    position: absolute;
    background-color: $bg-color;
    top: 0;
    bottom: 0;
    width: 100vw;
    z-index: -1;
  }
}
