@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.map {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;

  max-width: $layout-post-width;
  margin-left: auto;
  margin-right: auto;

  &__map {
    height: 30vw;
    min-height: 100px;
    flex: 0 0 100%;
    position: relative;
  }

  &__meta {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-left: -1rem;
    margin-right: -1rem;

    &__detail {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      padding: 1rem;

      &__title {
        font-size: 12px;
        color: #5f5e5e;
      }

      &__value {
        font-size: 22px;
        line-height: 1;
      }
    }
  }
}

@include breakpoint-md {
  .map {
    padding: 4rem;

    &__meta {
      border-top: 1px solid #5f5e5e;
      padding: 10px 0;
    }
  }
}
